
    <div>
    <p>A resolução do problema...</p>

    <br/>

    <ul style="list-style-type:circle">
      <li> &#8226; Requer a aquisição de novos conhecimentos técnicos para viabilizá-lo ou investimento em treinamentos e/ou contratação de novos profissionais e/ou fornecedores?</li>
      <br/>
      <li> &#8226; Aparenta um nível de complexidade para execução incompatível com os recursos (humanos, financeiros e/ou tempo) disponíveis?</li>
      <br/>
      <li> &#8226; Apresenta riscos que possam causar a interrupção parcial ou total de serviço para o cliente final ou riscos para operação de processos essenciais da organização?</li>
      <br/>
      <li> &#8226; Exigirá o envolvimento direto de pelo menos três departamentos da organização (ex. TI, Engenharia, Atendimento) em atividades para execução do projeto ?</li>
      <br/>
      <li> &#8226; Necessita o desenvolvimento de uma solução que interaja com sistemas externos a organização ou requer o desenvolvimento de outros projetos (em andamento ou não) da organização?</li>
    </ul>

    <br/>

    <i style="color:#937F96;font-size:12px">Atribuia um grau de importância para a macro atividade. Esse grau corresponte à quantidade de respostas SIM datas as questões do quadro acima.</i>
  </div>
