
    <div>
    <p>A resolução do problema...</p>

    <br/>

    <ul style="list-style-type:circle">
      <li> &#8226; Está diretamenta relacionada ao atingimento de algum objetivo estratégico ou irá acrescentar (ou melhorar) algum produto ou serviço ao portfólio da organização ?</li>
      <br/>
      <li> &#8226; É necessária para atender a alguma determinação legal ou regulatória ou contribuí para redução de reclamações em agências reguladoras?</li>
      <br/>
      <li> &#8226; Deve ocorrer o mais rápido possível por haver um prazo requerido pelo mercado ou determinado por agência reguladora ou como resposta a ação dos concorrentes?</li>
      <br/>
      <li> &#8226; É uma demanda de algum stakeholder estratégico (c-level) da companhia?</li>
      <br/>
      <li> &#8226; Produzirá benefícios de natureza econômico-financeira para organização ? (ex.: reduzir ou eliminar perda de receita, viabilizar a recuperação do investimentos já realizados, etc) </li>
    </ul>

    <br/>

    <i style="color:#937F96;font-size:12px">Atribuia um grau de importância para a macro atividade. Esse grau corresponte à quantidade de respostas SIM datas as questões do quadro acima.</i>
  </div>
